USE [master]
GO
/****** Object:  Database [ComplaintDB]    Script Date: 23/06/2026 4:02:40 AM ******/
CREATE DATABASE [ComplaintDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComplaintDB', FILENAME = N'C:\Users\Public\Documents\ComplaintRegisterSystem\ComplaintDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComplaintDB_log', FILENAME = N'C:\Users\Public\Documents\ComplaintRegisterSystem\ComplaintDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComplaintDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComplaintDB]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complaints]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complaints](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[report_date] [date] NOT NULL,
	[rejection_reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Complaints]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Complaints]
AS
SELECT
    c.complaint_id,
    c.user_id,
    u.full_name AS Citizen,
    cat.category_name AS Category,
    s.status_name AS Status,
    c.title,
    c.description,
    c.report_date,
    c.rejection_reason
FROM dbo.complaints c
INNER JOIN dbo.users u
    ON c.user_id = u.user_id
INNER JOIN dbo.categories cat
    ON c.category_id = cat.category_id
INNER JOIN dbo.status s
    ON c.status_id = s.status_id;
GO
/****** Object:  Table [dbo].[ComplaintLogs]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[complaint_id] [int] NULL,
	[action_type] [varchar](20) NULL,
	[old_status_id] [int] NULL,
	[new_status_id] [int] NULL,
	[action_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (4, N'Facility Issue')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (2, N'Pollution')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (3, N'Road Damage')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ComplaintLogs] ON 

INSERT [dbo].[ComplaintLogs] ([log_id], [complaint_id], [action_type], [old_status_id], [new_status_id], [action_date]) VALUES (1, 7, N'UPDATE', 3, 2, CAST(N'2026-06-21T22:00:57.310' AS DateTime))
INSERT [dbo].[ComplaintLogs] ([log_id], [complaint_id], [action_type], [old_status_id], [new_status_id], [action_date]) VALUES (2, 3, N'UPDATE', 4, 1, CAST(N'2026-06-23T03:44:46.057' AS DateTime))
INSERT [dbo].[ComplaintLogs] ([log_id], [complaint_id], [action_type], [old_status_id], [new_status_id], [action_date]) VALUES (3, 2, N'UPDATE', 3, 3, CAST(N'2026-06-23T03:54:22.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[ComplaintLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[complaints] ON 

INSERT [dbo].[complaints] ([complaint_id], [user_id], [category_id], [status_id], [title], [description], [report_date], [rejection_reason]) VALUES (1, 1006, 3, 1, N'Pothole Near Campus', N'Large pothole causing traffic congestion near the university entrance.', CAST(N'2026-06-20' AS Date), N'')
INSERT [dbo].[complaints] ([complaint_id], [user_id], [category_id], [status_id], [title], [description], [report_date], [rejection_reason]) VALUES (2, 1007, 2, 3, N'Overflowing Garbage Bin', N'Public garbage bin has not been emptied for several days.', CAST(N'2026-06-18' AS Date), N'')
INSERT [dbo].[complaints] ([complaint_id], [user_id], [category_id], [status_id], [title], [description], [report_date], [rejection_reason]) VALUES (3, 1008, 4, 1, N'Broken Air Conditioner', N'Air conditioner in the community hall is not functioning properly.', CAST(N'2026-06-23' AS Date), N'')
SET IDENTITY_INSERT [dbo].[complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([status_id], [status_name]) VALUES (3, N'In Process')
INSERT [dbo].[status] ([status_id], [status_name]) VALUES (5, N'Rejected')
INSERT [dbo].[status] ([status_id], [status_name]) VALUES (4, N'Resolved')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role]) VALUES (1, N'Admin User', N'admin@system.com', N'admin123', N'Admin')
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role]) VALUES (2, N'John Citizen', N'john@gmail.com', N'123456', N'Citizen')
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role]) VALUES (3, N'Sara Citizen', N'sara@gmail.com', N'123456', N'Citizen')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__5189E2556166C51D]    Script Date: 23/06/2026 4:02:41 AM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__status__501B3753E201D3F8]    Script Date: 23/06/2026 4:02:41 AM ******/
ALTER TABLE [dbo].[status] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComplaintLogs] ADD  DEFAULT (getdate()) FOR [action_date]
GO
ALTER TABLE [dbo].[complaints] ADD  CONSTRAINT [DF_status]  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_category]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_Complaint_Category]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([status_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_Complaint_Status]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_Complaint_User]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([status_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_status]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_user]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [CHK_title] CHECK  ((len([title])>=(5)))
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [CHK_title]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteComplaint]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================
   DELETE STORED PROCEDURE
========================================= */

CREATE PROCEDURE [dbo].[sp_DeleteComplaint]
(
    @complaint_id INT
)
AS
BEGIN

    DELETE FROM dbo.complaints
    WHERE complaint_id = @complaint_id;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertComplaint]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertComplaint]
(
    @user_id INT,
    @category_id INT,
    @status_id INT,
    @title NVARCHAR(400),
    @description NVARCHAR(MAX),
    @report_date DATE,
    @rejection_reason VARCHAR(255)
)
AS
BEGIN

    IF LEN(LTRIM(RTRIM(@title))) < 5
        THROW 50001, 'Title must be at least 5 characters.', 1;

    IF LEN(LTRIM(RTRIM(@description))) < 10
        THROW 50002, 'Description must be at least 10 characters.', 1;

    IF @report_date > CAST(GETDATE() AS DATE)
        THROW 50003, 'Future dates are not allowed.', 1;

    IF @report_date < DATEADD(YEAR,-100,CAST(GETDATE() AS DATE))
        THROW 50004, 'Date cannot be older than 100 years.', 1;

    IF @status_id = 5
       AND LEN(LTRIM(RTRIM(ISNULL(@rejection_reason,'')))) < 5
        THROW 50005, 'Rejected complaints require a valid rejection reason.', 1;

    INSERT INTO dbo.complaints
    (
        user_id,
        category_id,
        status_id,
        title,
        description,
        report_date,
        rejection_reason
    )
    VALUES
    (
        @user_id,
        @category_id,
        @status_id,
        @title,
        @description,
        @report_date,
        @rejection_reason
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchComplaint]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================
   SEARCH STORED PROCEDURE
========================================= */

CREATE PROCEDURE [dbo].[sp_SearchComplaint]
(
    @search VARCHAR(200)
)
AS
BEGIN

    SELECT
        c.complaint_id,
        u.full_name AS Citizen,
        cat.category_name AS Category,
        s.status_name AS Status,
        c.title,
        c.description,
        c.report_date,
        c.rejection_reason
    FROM dbo.complaints c
    INNER JOIN dbo.users u
        ON c.user_id = u.user_id
    INNER JOIN dbo.categories cat
        ON c.category_id = cat.category_id
    INNER JOIN dbo.status s
        ON c.status_id = s.status_id
    WHERE
        c.title LIKE '%' + @search + '%'
        OR
        u.full_name LIKE '%' + @search + '%';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchUserComplaints]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchUserComplaints]
(
    @user_id INT,
    @search VARCHAR(100)
)
AS
BEGIN

    SELECT
        c.complaint_id,
        c.title,
        c.description,
        cat.category_name AS Category,
        s.status_name AS Status,
        c.report_date,
        c.rejection_reason
    FROM dbo.complaints c
    INNER JOIN dbo.categories cat
        ON c.category_id = cat.category_id
    INNER JOIN dbo.status s
        ON c.status_id = s.status_id
    WHERE c.user_id = @user_id
    AND c.title LIKE '%' + @search + '%';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateComplaint]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateComplaint]
(
    @complaint_id INT,
    @user_id INT,
    @category_id INT,
    @status_id INT,
    @title NVARCHAR(400),
    @description NVARCHAR(MAX),
    @report_date DATE,
    @rejection_reason VARCHAR(255)
)
AS
BEGIN

    IF LEN(LTRIM(RTRIM(@title))) < 5
        THROW 50001, 'Title must be at least 5 characters.', 1;

    IF LEN(LTRIM(RTRIM(@description))) < 10
        THROW 50002, 'Description must be at least 10 characters.', 1;

    IF @report_date > CAST(GETDATE() AS DATE)
        THROW 50003, 'Future dates are not allowed.', 1;

    IF @report_date < DATEADD(YEAR,-100,CAST(GETDATE() AS DATE))
        THROW 50004, 'Date cannot be older than 100 years.', 1;

    IF @status_id = 5
       AND LEN(LTRIM(RTRIM(ISNULL(@rejection_reason,'')))) < 5
        THROW 50005, 'Rejected complaints require a valid rejection reason.', 1;

    UPDATE dbo.complaints
    SET
        user_id = @user_id,
        category_id = @category_id,
        status_id = @status_id,
        title = @title,
        description = @description,
        report_date = @report_date,
        rejection_reason = @rejection_reason
    WHERE complaint_id = @complaint_id;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ViewUserComplaints]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ViewUserComplaints]
(
    @user_id INT
)
AS
BEGIN

    SELECT
        c.complaint_id,
        c.title,
        c.description,
        cat.category_name AS Category,
        s.status_name AS Status,
        c.report_date,
        c.rejection_reason
    FROM dbo.complaints c
    INNER JOIN dbo.categories cat
        ON c.category_id = cat.category_id
    INNER JOIN dbo.status s
        ON c.status_id = s.status_id
    WHERE c.user_id = @user_id;

END;
GO
/****** Object:  Trigger [dbo].[trg_ComplaintStatusAudit]    Script Date: 23/06/2026 4:02:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_ComplaintStatusAudit]
ON [dbo].[complaints]
AFTER UPDATE
AS
BEGIN

    INSERT INTO ComplaintLogs
    (
        complaint_id,
        action_type,
        old_status_id,
        new_status_id,
        action_date
    )
    SELECT
        d.complaint_id,
        'UPDATE',
        d.status_id,
        i.status_id,
        GETDATE()
    FROM deleted d
    INNER JOIN inserted i
        ON d.complaint_id = i.complaint_id;

END;
GO
ALTER TABLE [dbo].[complaints] ENABLE TRIGGER [trg_ComplaintStatusAudit]
GO
USE [master]
GO
